.container {
  & h1 {
    margin-block-end: 0;
  }
}

.buttonRow {
  display: flex;
  justify-content: center;
  gap: 1rem;

  & button {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 32px;
    cursor: pointer;
    padding: 1rem;

    &:disabled {
      pointer-events: none;
      background-color: #fff;
      color: #7f7f7f;
      border-color: #7f7f7f;
    }
  }
}
